body {
  background-color: black;
  color: #aec6cf;
}

.header {
  text-align: center;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: -19vh;
}

.tardis{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20vh;
}

.himg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: -18vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}